body {
  margin: 0px;
  text-align: center;
  font-size: 110%;
  background-color: #F7F6F2;
}

.profilePicture {
  width: 200px;
  border-radius: 100%;
}

.topContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 70px;
  margin-bottom: 100px;


}

.NameH1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4.375rem;
  margin: 10px auto 0 auto;
  color: #66BFBF;
}

.underNamePara {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 2.50rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 68px;
}

.Topcloud {
  position: relative;
  left: 330px
}

.bottomCloud {
  position: absolute;
  left: 400px;
}

h1 {
  font-size: 4.375rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.50rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Lato', sans-serif;

}

h4 {
  font-family: 'Lato', sans-serif;

}
.middle-container{

}
a{
  color: #11999E;
  padding: 20px;
}
.skillsImage{
  border-radius: 100%;
  width: 9rem;
  float: left;
padding: 30px;
}
.skill-row{
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
}
.paragraphSkills{
  line-height: 2;
  font-family: 'Source Sans Pro', sans-serif;
}
.SkillsH3{
  padding-top: 45px;
  color: #11999E;
}
.bottomPara{
  padding-bottom: 45px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  height: 2px;
  width: 12%;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
.projectsIcon{
  width: 9rem;
  border-radius: 100%;
  float: left;
  padding: 30px;
}
.SkillsH2{
  margin: 50px auto 0 auto;
}

.bottom-container{
  background-color: #66BFBF;
padding: 50px;
margin-top: 40px;
margin-bottom: 0px;


}
.endParagraph{
  color: #EAF6F6;
}
